*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(../assets/images/bg.png);
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    width: 100vw;
    background-size: cover;
}
.container {
    height: 100%;
    width: 100%;
}
section[aria-label="navbar"] {
    width: 100%;
    height: 10%;
    background-color: black;
}
nav.navbar {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
img.logo {
    width: 60%;
}
.line {
    width: 1px;
    height: 62%;
    background-color: white;
}
.grow-list {
    width: 60%;
}
button.button-small {
    height: 4vh;
    width: 7vw;
    background-color: purple;
    border: none;
    color: white;
    border-radius: 5px;
}
ul.list {
    display: flex;
    color: white;
    list-style: none;
    justify-content: flex-start;
}
li.list-item {
    margin: 0% 2%;
}
section[aria-label="hero"] {
    height: 90vh;
    width: 60%;
    margin: auto;
}
.hero {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1.hero-heading {
    font-size: 5rem;
    text-align: center;
    color: white;
    margin-bottom: 0%;
}
p.hero-description {
    font-size: 29px;
    color: white;
}
button.button-large {
    margin: 5% 0px;
    height: 8%;
    width: 25%;
    font-size: 20px;
    color: white;
    background-color: #cc46cc;
    border: none;
    border-radius: 8px;
}